*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

body{
    background: rgb(238,242,255);
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333333;
    padding: 5px 20px;
}

#logo{
    height: 55px;
    width: 55px;
    background: url(../Day3/logo.avif);
    background-size: cover;
    border-radius: 50%;
}

nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    max-width:44rem;
}

nav a{
    text-decoration: none;
    color: rgb(255,255,255);
    transition: 0.3s ease;
    position: relative;
    font-size: 1.2rem;
    cursor: pointer;
}

nav a:hover{
    transform: scale(1.03);
    color: #00adb5;
}

nav a:active{
    color:#ff5722;
}

.hamburger{
    display:none;
    color: rgb(255,255,255);
}

.text{
    text-align: center;
    padding-top: 20px;
    margin-bottom: 1rem;
}

.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:25px;
    flex-wrap:wrap;
    padding:20px;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    gap: 2rem;
    max-width: 270px;
    width: 100%;
    border-radius: 1rem;
    background:rgb(255,255,255);
    box-shadow:0 10px 30px rgba(0,0,0,0.1);
    transition:0.4s ease;
    position:relative;
}

.cardimg{
    height:180px;
    width:180px;
    margin:10px;
}

.productimg{
    background: url(product.png);
    background-size: cover;
}

.serviceimg{
    background: url(service.png);
    background-size: cover;
}

.teamimg{
    background: url(team.png);
    background-size: cover;
}

.blogimg{
    background: url(blogs.png);
    background-size: cover;
}

button{
    background-color:rgb(90, 130, 211) ;
    border: none;
    color: rgb(255, 255, 255);
    width: 100px;
    border-radius: 20px;
    height: 40px;
    box-shadow: 0px 4px 10px rgba(135, 159, 238, 0.4);
    cursor:pointer;
}

.card:hover{
    transform: scale(1.04);
}

button:active{
    background-color: #333333;
}

footer{
    background-color: #fcfcfcea;
    color: rgb(0,0,0);
    text-align: center;
    padding: 10px;
    font-size: 14px;
    margin-top: auto;
}

@media (max-width: 765px) {

    .hamburger{
        display: block;
    }

    nav{
       display: none;
    }

    .cards{
        flex-direction: column;
    }
}